body {
    background-color: lightgrey;
}
label {
    color:blue;
}
/* #passwordInput {
    background-color: yellow;
}
#passwordConfirmInput {
    background-color: yellow;
} */
.label.tableItems {
    color: green;
}
/* td {
    text-align: right;
} */

/* Style the submit button */
#submitForm {
  background-color: lightgrey;
  color: blue;
}
